<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watching {{ movie_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="{{ url_for('index') }}" class="home-button">
        <img src="{{ url_for('static', filename='home-icon.png') }}" alt="Home" />
    </a>
    <div class="watch-container">
        <h1>{{ movie_title }}</h1>
        <div class="video-container">
            <iframe src="{{ embed_url }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>
