<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watching {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='images/app-logo.png') }}" type="image/png">
</head>
<body>
    <a href="{{ url_for('index') }}" class="home-button">
        <img src="{{ url_for('static', filename='images/home-icon.png') }}" alt="Home" />
    </a>  
    <div class="parent-container">
        <div class="left-container">
            <!-- All seasons & episodes -->
            {% if type == 'series' and seasons_object %}
                <div class="seasons-container">
                    <h2>All Episodes</h2>
                    {% for season, episodes in seasons_object.items() %}
                        <div class="season-button" onclick="toggleEpisodes('{{ season }}')">
                            {{ season }}
                        </div>
                        <div id="{{ season }}" class="episode-list">
                            <ul>
                                {% for episode in episodes %}
                                    <li id="episode-{{ season.split(' ')[1] }}-{{ episode.episode }}" class="{{ 'selected' if episode.episode == current_episode else '' }}">
                                        <a href="{{ url_for('watch', title=title.replace(' ', '-'), season=season.split(' ')[1], id=imdb_id, episode=episode.episode) }}">
                                            Episode {{ episode.episode }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>                        
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- Movie/serie -->
        <div class="watch-container">
            <div class="title">
                <h2>{{ title }}</h2>
            </div>
            <div class="video-container">
                <!-- Loading message -->
                <div class="loading" id="loading" style="display: none;">Loading video...</div>
                {% if embed_url %}
                    <iframe src="{{ embed_url }}" frameborder="0" allowfullscreen onload="document.getElementById('loading').style.display='none';"></iframe>
                {% else %}
                    <p>No video available.</p>
                {% endif %}
            </div>
            <!-- Story line -->
            <div class="plot-container">
                <h2>Story Line</h2>
                {% if error_message %}
                    <div class="error-message">{{ error_message }}</div>
                {% else %}
                    <p>{{ plot | safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        function toggleEpisodes(seasonId) {
            var selectedEpisodes = document.getElementById(seasonId);

            if (selectedEpisodes.classList.contains('active')) {
                // If the selected list is already open, close it and clear saved season from localStorage
                selectedEpisodes.classList.remove('active');
                localStorage.removeItem('activeSeason');
            } else {
                // Close other lists
                var allEpisodes = document.querySelectorAll('.episode-list');
                allEpisodes.forEach(function (el) {
                    el.classList.remove('active');
                });

                // Open the selected list and save the season ID to localStorage
                selectedEpisodes.classList.add('active');
                localStorage.setItem('activeSeason', seasonId);
            }
        }

        // On page load, check if there is an active season in localStorage
        document.addEventListener('DOMContentLoaded', function () {
            var activeSeason = localStorage.getItem('activeSeason');
            if (activeSeason) {
                var selectedEpisodes = document.getElementById(activeSeason);
                if (selectedEpisodes) {
                    selectedEpisodes.classList.add('active');
                }
            }

            // Highlight the current episode based on URL
            var urlParams = new URLSearchParams(window.location.search);
            var currentSeason = urlParams.get('season');
            var currentEpisode = urlParams.get('episode');
            if (currentSeason && currentEpisode) {
                var currentEpisodeElement = document.getElementById(`episode-${currentSeason}-${currentEpisode}`);
                if (currentEpisodeElement) {
                    currentEpisodeElement.classList.add('selected');
                }
            }
        });
    </script>
</body>
</html>
